<!-- Base view template for pages of unauthorized users to keep one structure -->

<!-- Connect static files -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- place for title, it can be changed depending on a page -->
    <title>{% block title %}{% endblock %}</title>

    <!-- connecting CSS for design purposes -->
    <link rel="stylesheet" href="{% static 'Gusto/css/unlogged.css' %}">

    <!-- connecting icons for rating and wishlist -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <!-- content block which depends on a page -->
    {% block content %}{% endblock%}

    <!-- connecting icons for rating and wishlist -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>